<div class="link item">Shop</div>
<div class="link item">Gallery</div>
<div class="link item">For Kids</div>
<div class="link item">Contact</div>
<a class="link icon item" href="" title="follow Leslie on instagram" clearfix>
  <i class="instagram icon"></i>Leslie on Instagram
</a>
