<div class="ui text menu mv0 mh pv desk--mh+">
  <div class="header link item pt- mh-"><a href="/">leslie wirick</a></div>
  <div class="right menu visuallyhidden--portable">
    {% for item in menu.get_items %}
      <a class="link item" href="{{item.get_link}}">{{item.title}}</a>
    {% endfor %}
    <a class="link icon item" href="" title="follow Leslie on instagram">
      <i class="instagram icon"></i>
    </a>
  </div>
  <a class="right link item visuallyhidden--desk pt-" href="#mainNav">
    <i class="large reorder icon"></i>
  </a>
</div>
