<div class="ui text menu mv0 mh pv desk--mh+">
  <div class="header link item pt- mh-"><a href="/">leslie wirick</a></div>
  <div class="right menu visuallyhidden--portable">
    <div class="link item">Shop</div>
    <div class="link item">Gallery</div>
    <div class="link item">For Kids</div>
    <div class="link item">Contact</div>
    <a class="link icon item" href="" title="follow Leslie on instagram">
      <i class="instagram icon"></i>
    </a>
  </div>
  <a class="right link item visuallyhidden--desk pt-" href="#mainNav">
    <i class="large reorder icon"></i>
  </a>
</div>
